
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
input ,textarea{
  border: none;
  outline: none;
  resize:none

}
html,body{
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  /*background: url(../img/bg.jpg) repeat-x  ;*/
}
#temp{
  /*margin-top: 60px;*/
  height: 100%;
  width: 80%;
  margin: 50px auto;
}
*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*去除移动端点击产生的高亮状态*/
}


a{
  text-decoration: none;
}

ul,ol{
  list-style: none;
}

textarea, input{
  border: none;
  outline: none;
  resize:none
}

.clearfix::before,
.clearfix::after{
  content: '.';
  height: 0;
  line-height: 0;
  display: block; /*出错点*/
  visibility: hidden;
  clear: both;
}





